//- layout.pug
doctype html
html
  head
    title Ryo's Fitness Academy
    style 
      include ../static/style.css
      block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                a(href="/")|RFA
            li #[a(href="/") Home]
            li #[a(href="/classinfo") Class Info]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
       p | Copyright © 2022 RyoAcademy.com | All Rights Reserved
    block scripts